.option {
	display: flex;
	flex-wrap: wrap;
}

.options {
	background: grey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    margin: 20px 0px;
    flex-basis: 250px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    flex-grow: 1;
}

.options img{
	width: 150px;
	border-radius: 6px;
}

.options h3 {
	flex-grow: 1;
    padding-left: 20px;
    font-size: 24px;
}

.elizabeth img{
	border-radius : 50%
	border: 10px solid;
}
